@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/MontserratMedium.eot');
  src: url('../../fonts/MontserratMedium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/MontserratMedium.woff2') format('woff2'),
  url('../../fonts/MontserratMedium.woff') format('woff'),
  url('../../fonts/MontserratMedium.ttf') format('truetype'),
  url('../../fonts/MontserratMedium.svg#Montserrat-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/MontserratBold.eot');
  src: url('../../fonts/MontserratBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/MontserratBold.woff2') format('woff2'),
  url('../../fonts/MontserratBold.woff') format('woff'),
  url('../../fonts/MontserratBold.ttf') format('truetype'),
  url('../../fonts/MontserratBold.svg#Montserrat-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/MontserratBold.eot');
  src: url('../../fonts/MontserratBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/MontserratBold.woff2') format('woff2'),
  url('../../fonts/MontserratBold.woff') format('woff'),
  url('../../fonts/MontserratBold.ttf') format('truetype'),
  url('../../fonts/MontserratBold.svg#Montserrat-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/MontserratExtraBold.eot');
  src: url('../../fonts/MontserratExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/MontserratExtraBold.woff2') format('woff2'),
  url('../../fonts/MontserratExtraBold.woff') format('woff'),
  url('../../fonts/MontserratExtraBold.ttf') format('truetype'),
  url('../../fonts/MontserratExtraBold.svg#Montserrat-Bold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}